# === Config file ===
# CONFIG_PATH=config.yml

# === Postgres ===
PG_HOST=starlink-dev-uc-internal.hs99.vip
PG_PORT=5432
PG_DATABASE=lgh_blockblast_client
PG_USERNAME=solutionhub_dev
PG_PASSWORD=<password>
PG_PUBLICATION=cdc_publication

# === SSH Tunnel (uncomment to enable) ===
# PG_SSH_HOST=bastion.example.com
# PG_SSH_PORT=22
# PG_SSH_USERNAME=admin
# PG_SSH_PASSWORD=
# PG_SSH_PRIVATE_KEY_PATH=/path/to/id_rsa
# PG_SSH_PRIVATE_KEY_PASSPHRASE=

# === Kafka ===
KAFKA_BROKERS=10.9.169.2:9092,10.9.131.68:9092,10.9.103.246:9092
KAFKA_TOPIC_PREFIX=cdc
KAFKA_SECURITY_PROTOCOL=plaintext
# KAFKA_SASL_MECHANISM=plain
# KAFKA_SASL_USERNAME=
# KAFKA_SASL_PASSWORD=
# KAFKA_SSL_CA_LOCATION=
# KAFKA_SSL_CERTIFICATE_LOCATION=
# KAFKA_SSL_KEY_LOCATION=

# === Log ===
RUST_LOG=info
